<main class="flex-grow-1 d-flex flex-column justify-content-center align-items-center text-center">
  <p class="fs-4 mb-4">引っ越しにかかる費用をまとめて整理できます</p>

  <%= link_to "費用を入力して整理する", new_cost_list_path, class: "btn btn-primary btn-lg px-5" %>
</main>

