<footer class="bg-light px-3 px-md-5 py-3 py-md-4 mt-auto">
  <div class="d-flex flex-column flex-sm-row gap-2 gap-sm-5">
    <%= link_to "使い方", guide_path, class: "text-dark text-decoration-none" %>
    <%= link_to "利用規約", terms_path, class: "text-dark text-decoration-none" %>
    <%= link_to "プライバシーポリシー", privacy_path, class: "text-dark text-decoration-none text-break" %>
  </div>
</footer>
